*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ffffff;	
	color: #071C4D;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand{
	img{
		max-height:30px;
		width: 200px;
		height: 400px;
		margin-left: 20px;
	}
}

header{
	
	padding: 160px 0 165px 20px;
	margin-bottom: 20px;

	background-image: url('../images/header/nf.jpg');
	filter: opacity(120%);
	background-size: cover;

	h1, p {
	
		font-family: inherit;
		font-size: 100px;
		font-weight: bold;
		color : #ffffff;
		
	}
}


.welcome{
	margin-top:40px;
	margin-bottom: 200px;
	.brandbem{
		color: rgb(82, 126, 247);
	}
	h2{
		text-align: center;
		color: black;
		font-size: 20px;
	}
	hr{
		align-content: center;
		font-weight: bold;
		width: 20%;
		size: 20px;
		background-color :rgb(82, 126, 247);
	}
	p{
		font-size: 18px;
	}

}

.introduction{
	padding: 80px 0 80px 20px;
	margin-bottom: 20px;

	background-image: url('../images/header/header.png');
	filter: blur(60%);
	background-size: cover;
	
	h2{
		font-size: 32px;
		color: #ffffff;
		margin-bottom: 30px;
	}
	iframe{
		display: flex;
		align-items: center;
		overflow: hidden;
		border: 15px solid white;
		border-radius: 10px 10px 10px 10px;
		padding : 0px;
	}
}

.aduan{
	margin-top: 80px;
	margin-bottom: 40px;

	.card-aduan{
		margin-top: 40px;
		border: 10px solid black;
		border-radius: 10px 10px 10px 10px;
	}
	h3{
		color: white;
	}
	.card-aduan-title{
		background-color: rgb(226, 86, 43);
	}

	
	.card-aduan-title-iptek{
		background-color: rgb(6, 9, 212);
	}

	.card-aduan-description{
		margin: 20px 20px 20px 20px;
	}

	.pintas-button{
		
		margin: 30px 0 30px 0;
		
		a{
			background-color: rgb(6, 9, 212);
			color: white;
		}
		
	}

	
	.tanyaiptek-button{
		
		margin: 30px 0 30px 0;
		
		a{
			background-color: rgb(228, 89, 8);
			color: white;
		}
		
	}
}

.popular-news{
	img{
		width : 350px;
		height:200px;
		margin-bottom: 15px;
	}
	h4{
		margin-top: 10px;
		margin-bottom: 15px;
	
	}
}
footer{
	
	background-image: linear-gradient(to bottom right, rgb(38, 0, 255), rgb(69, 19, 184));
	h3,h5,a{
		color:#ffffff;
	}
}

	
.header-kabar{
	
	padding: 160px 0 165px 20px;
	margin-bottom: 20px;
	background-image: linear-gradient(to bottom right, rgb(38, 0, 255), rgb(69, 19, 184));
	filter: opacity(120%);
	background-size: cover;
	box-shadow: 10px 10px 10px rgb(69, 19, 184);
	
	h1, p {
		font-family: inherit;
		font-size: 100px;
		font-weight: bold;
		color : #ffffff;
		
	}
}

.kabar-news{

	img{
		width : 350px;
		height:200px;
		margin-bottom: 15px;
	}
	h4{
		margin-top: 10px;
		margin-bottom: 15px;
	
	}

	.post-desc{
		color: rgb(6, 252, 137);
	}

	.post-desc-berita{
		color : rgb(98, 0, 255);
	}
}
